/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* Tailwindcss */

@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  body {
    @apply bg-light-gray;
  }

  .menu-enter {
    position: relative;
    transform: translateX(-110%);
  }

  .menu-enter-active {
    transform: translateX(0%);
    transition: transform 0.3s ease;
  }

  .menu-exit {
    position: relative;
  }

  .menu-exit-active {
    transform: translateX(-110%);
    transition: transform 0.3s ease;
  }

  .page-item {
    @apply cursor-pointer
  }

  button:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }
}
@tailwind components;

@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
